.card-content {
    margin-top: 60px;
}
.card-login .form{
    min-height: 200px;
}

.form-lupa-password {
    flex: 1 1 auto;
}

.with-overflow {
    overflow: auto;
    display: table;
}

@media only screen and (max-width: 600px) {
    .with-overflow {
        overflow: auto;
        display: inline-block;
    }
  }